.login{
    background-color:white;
    width: min-content;
    min-width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.input{
    width: 100%;
    
}

#submitButton{
    width: 100%;
}
